@import 'src/scss/default-styles';
@import 'src/scss/mixins';

.skill {
  @include default-container;

  background-color: $white;

  &Container {
    @include container-width;

    overflow-x: hidden;
  }

  &Title {
    @include title-block;
  }

  &Marguee {
    display: flex;
    justify-content: space-around;
    width: $deg70;
    margin: 0 auto 30px;
    padding: 0 10px;

    @media (max-width: $w798) {
      width: $deg80;
    }

    @media (max-width: $w580) {
      width: $deg100;
    }

    &Img {
      width: auto;
      height: 60px;
      margin-right: 20px;
    }
  }

  &Block {
    width: $deg70;
    margin: 0 auto 40px;
    padding: 0 $size16;

    @media (max-width: $w798) {
      width: $deg80;
    }

    @media (max-width: $w580) {
      width: $deg100;
    }
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: $size24;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $w580) {
      gap: $size10;
    }

    &Element {
      position: relative;
      display: block;
      margin-bottom: 10px;
      color: $skill-color;
      font-weight: bold;
      font-size: $size18;
      text-align: center;

      @media (max-width: $w580) {
        font-size: $size16;
      }

      &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: $deg100;
        height: 4px;
        background-color: $underline;
        border-radius: $size16;
        content: '';
      }
    }
  }
}
