@import 'src/scss/default-styles';

.profile {
  width: $width;
  min-height: 460px;
  background-color: $black;
  background-image: url('src/assets/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  @media (max-width: $w980) {
    height: $deg100;
    min-height: 356px;
  }

  @media (max-width: $w798) {
    height: auto;
    min-height: 300px;
  }

  &Container {
    display: flex;
    gap: 6px;
    width: $width;
    max-width: $max-width;
    height: auto;
    min-height: 460px;
    margin: 0 auto;
    padding: 0 $size16;

    @media (max-width: $w980) {
      min-height: 356px;
    }

    @media (max-width: $w580) {
      min-height: 300px;
    }
  }

  &Summary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    margin: $size20 0;

    @media (max-width: $w480) {
      width: $deg100;
    }

    &Text {
      position: relative;
      z-index: 1;
      color: $white;
      font-size: $size22;
      line-height: 1.4;
      text-align: initial;
      text-indent: $size16;
      word-wrap: break-word;

      @media (max-width: $w1200) {
        font-size: $size20;
      }

      @media (max-width: $w980) {
        padding-top: $size16;
        font-size: $size16;
        text-align: left;
      }

      &Button {
        color: $button-text;
        font-size: inherit;
        text-transform: lowercase;
      }
    }
  }

  &Foto {
    position: relative;
    width: 24%;
    overflow: hidden;

    &Img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: $deg100;
    }

    @media (max-width: $w480) {
      display: none;
    }
  }
}
