@import 'src/scss/default-styles';

.profile {
  width: $width;
  height: 460px;
  background: #000;
  background-color: black;
  background-image: url('public/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width <= $w980) {
    height: $deg100;
    min-height: 356px;
  }

  @media (width <= 580px) {
    min-height: 300px;

    height: auto;
  }

  &Container {
    display: flex;
    width: $width;
    max-width: $max-width;
    min-height: $deg100;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 460px;
    gap: 6px;

    @media (width <= $w980) {
      min-height: 356px;
    }

    @media (width <= 580px) {
      min-height: 300px;
    }
  }

  &Sammary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    margin-bottom: 20px;

    @media (width <= $w480) {
      width: $deg100;
    }

    &Text {
      position: relative;
      z-index: 1;
      color: $white;
      font-size: $size22;
      line-height: 1.4;
      word-wrap: break-word;
      text-align: initial;
      text-indent: $size16;

      @media (width <= $w1200) {
        font-size: 20px;
      }

      @media (width <= $w980) {
        padding-top: $size16;
        font-size: $size16;
        text-align: left;
      }

      &Button {
        text-transform: lowercase;
        color: $button-text;
        font-size: inherit;
      }
    }
  }

  &Foto {
    position: relative;
    width: 24%;
    overflow: hidden;
    &Img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $deg100;
    }
    @media (width <= $w480) {
      display: none;
    }
  }
}
