@import 'src/scss/default-styles';

.header {
  width: 100%;
  min-height: 60px;
  background: #0b3f8d;

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    height: inherit;
    margin: 0 auto;
    padding: 0 16px;
    border: 1px solid $white;
  }

  &Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 56px;
    text-align: center;
  }

  &Title {
    color: $white;
    font-weight: bold;
    font-size: 26px;

    // font-family: $sedgwick-font;
    font-family: $nova-font;
    text-shadow: 0 0 6px $black;
    transition: text-shadow 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      color: $black;
      text-shadow: 0 0 4px $white;
    }
  }

  &Burger {
    display: flex;
    justify-content: center;
    width: 56px;
    padding: 6px;

    &Icon {
      width: 60%;
      height: 60%;
      color: $white;
      cursor: pointer;
      transition: width 0.23s ease-in, transform 0.3s ease-in;

      &:hover {
        // transform: rotate(270deg);
        width: 70%;
      }
    }
  }

  &Navigate {
    display: flex;
    align-items: center;

    &Container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1420px;
      height: inherit;
      margin: 0 auto;
      padding: 10px;
    }
  }

  &Link {
    display: block;
    gap: 6px;
    align-items: center;
    color: $white;
    font-size: 18px;

    @media (width <= 900px) {
      margin-bottom: 18px;
      padding-left: 15px;

    }
  }

  &Links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

  }
}

.active {
  transform: rotate(270deg);
}
