@import 'src/scss/default-styles';

.header {
  width: 100%;
  height: 60px;
  background: #0b3f8d;

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    height: inherit;
    margin: 0 auto;
    padding: 0 16px;
    border: 1px solid $white;
  }

  &Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 56px;
    text-align: center;
  }

  &Title {
    color: $white;
    font-size: 26px;
    // font-family: $sedgwick-font;
    font-family: $nova-font;
    font-weight: bold;
    text-shadow: 0 0 6px $black;
    transition: text-shadow 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      text-shadow: 0 0 4px $white;
      color: $black;
    }
  }

  &Burger {
    display: flex;
    justify-content: center;
    width: 56px;
    padding: 6px;

    &Icon {
      width: 60%;
      height: 60%;
      color: $white;
      cursor: pointer;
      transition: width 0.23s ease-in, transform 0.3s ease-in;

      &:hover {
        // transform: rotate(270deg);
        width: 70%;
      }
    }
  }
}
