@import 'src/scss/default-styles';
@import 'src/scss/mixins';

.tasks {
  @include default-container;
  @include default-background;

  &Container {
    @include container-width;
  }

  &Title {
    @include title-block;

    color: $white;
  }

  &CardsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: $size20;
    align-items: center;
    justify-content: space-around;
    width: $deg90;
    margin: 0 auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 280px;
  height: 360px;
  margin-bottom: 24px;
  padding: 6px;
  line-height: 1.4;
  background: #000000a6;
  border: 1px solid $white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px $white;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 4px 4px 10px $white;
    transform: scale(1.01);
  }

  &ImageBlock {
    width: $deg100;
    height: 160px;
    margin: 0 auto 10px;
    overflow: hidden;
    border: 1px solid $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &Image {
    object-fit: cover;
  }

  &Title {
    margin: 0 auto 10px;
    color: $white;
    font-size: $size20;
    text-transform: capitalize;
  }

  &Description {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    padding: 0 10px;
    color: $white;
    font-size: 16px;
    gap: 10px;
  }

  &BtnBlock {
    display: flex;
    justify-content: end;
    width: $deg90;
    margin: 0 auto 10px;

  }
  &Button {
    position: relative;
    color: inherit;
    margin-bottom: 10px;
    font-size: $size16;
    font-style: italic;
    font-weight: bold;
    min-width: 80px;
    text-transform: lowercase;
    transition: color .3s linear;

    &:hover {
      color: #4aff32;
    }
  }

  &Links {
    display: flex;
    justify-content: space-around;
    color: $white;
    font-size: $size18;
    font-style: italic;
    font-weight: bold;
    width: 80%;
    margin: 0 auto 10px;

    &Href {
      position: relative;
      font-size: inherit;
      color: inherit;

      &::after {
        @include after;
        height: 2px;
        opacity: 0;
        transition: all 0.2s linear;
      }

      &:hover {
        color: #4aff32;
        &::after {
          opacity: 1;
          background-color: #ff32ff;
        }
      }
    }
  }
}
