@import 'src/scss/default-styles';
@import 'src/scss/mixins';

.tasks {
  @include default-container;
  @include default-background;

  &Container {
    @include container-width;
  }

  &Title {
    @include title-block;

    color: $white;
  }

  &CardsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: $size20;
    align-items: center;
    justify-content: space-around;
    width: $deg90;
    margin: 0 auto;
  }
}

