// size
$width: 100%;
$max-width: 1420px;
$medium-width: 798px;
$heigth-header: 60px;

// color
$black: #000;
$white: #fff;
$link-hover: rgb(238 255 0);
$bg-color-header: #022f72;
$active-header: #b1ffec;

// fonts
$nova-font: 'Nova Oval', cursive;
$font18: 18px;
$font20: 20px;
