// size
$width: 100%;
$max-width: 1420px;
$w1200: 1200px;
$w980: 980px;
$w798: 798px;
$w580: 580px;
$w480: 480px;
$heigth-header: 60px;
$deg100: 100%;
$deg90: 90%;
$deg80: 80%;
$deg70: 70%;

// min-media

// color
$black: #000;
$white: #fff;
$link-hover: rgb(238 255 0);
$bg-color-header: #022f72;
$active-header: #b1ffec;
$button-text: #78ebfa;
$underline: #76b2f7;
$skill-color: #686666;

// fonts
$nova-font: 'Nova Oval', cursive;
$merriweather-font: 'Merriweather', serif;
$size10: 10px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
