// size
$width: 100%;
$max-width: 1420px;
$w1200: 1200px;
$w980: 980px;
$w798: 798px;
$w758: 758px;
$w580: 580px;
$w480: 480px;
$w300: 300px;
$heigth-header: 40px;
$deg100: 100%;
$deg96: 96%;
$deg90: 90%;
$deg80: 80%;
$deg70: 70%;
$deg60: 60%;
$deg50: 50%;
$deg40: 40%;

// min-media

// color
$black: #000;
$white: #fff;
$link-hover: rgb(238 255 0);
$bg-color-header: #1d1d1f;
$gold-light: #fff59b;
$gold: #bdb469;
$button-text: #78ebfa;
$button-hover: #4aff32;
$underline: #76b2f7;
$skill-color: #686666;

// fonts
$nova-font: 'Nova Oval', cursive;
$merriweather-font: 'Merriweather', serif;
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
